{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "useTabs": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "htmlWhitespaceSensitivity": "css"
}
